<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.org.api.Create_Company"/>
      <class name="com.org.api.CreateProject"/>
      <class name="com.org.api.DeleteCompany"/>
      <class name="com.org.api.Delete_Account"/>
      <class name="com.org.api.CSCreates_Account_Post"/>
      <class name="com.org.api.Company_Types"/>
      <class name="com.org.api.ProjectList"/>
      <class name="com.org.api.ProjectType"/>
      <class name="com.org.api.List_Accounts_by_pagination"/>
      <class name="com.org.api.UpdateCompany"/>
      <class name="com.org.api.DeleteProject"/>
      <class name="com.org.api.ListCompany"/>
      <class name="com.org.api.Accounts_Type"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
